* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.app {
  display: none;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#a8dadc, #457b9d);
  flex-direction: column;
}

.input-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
}

h1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

input {
  height: 7vh;
  width: 50%;
  padding: 5px;
  color: #1d3557;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  padding: 5px;
}

.btn,
.startBtn {
  padding: 10px;
  border: none;
  width: 20%;
  border-radius: 5px;
  background-color: #14213d;
  transition: background-color 250ms;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.clear {
  background-color: red;
}

.btn:hover,
.startBtn:hover {
  color: #457b9d;
  background-color: #ffffff;
}

.clear:hover {
  color: red;
}

.todo-list {
  width: 80%;
}

.todo-list li {
  list-style-type: none;
  margin-bottom: 10px;
  color: #f1faee;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.delBtn {
  color: red;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.editBtn {
  color: #14213d;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.show {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intro-div {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(#457b9d, #1d3557);
}

.intro-div img {
  height: 30vh;
}

.intro-div i {
  color: #a8dadc;
}

.intro-div h1 {
  font-family: "Poppins", sans-serif;
  color: #f1faee;
}

.intro-div p {
  font-family: "Montserrat", sans-serif;
  color: #f1faee;
}

@media screen and (max-width: 768px) {

  .intro-div h1,
  .app h1 {
    font-size: 24px;
  }

  .intro-div p {
    font-size: 14px;
  }

  .todo-list li {
    font-size: 12px;
  }
}